2line_40504145.json
[{"id":"2b34b520.acf53a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"25e3dc35.9d0ce4","type":"inject","z":"2b34b520.acf53a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["8500699a.7845b8"]]},{"id":"8500699a.7845b8","type":"function","z":"2b34b520.acf53a","name":"random number","func":"var msg = {};\nvar msg1 = {};\n\nmsg.payload = Math.round(Math.random()*100);\nmsg.topic = \"line1\";\nmsg1.payload = Math.round(Math.random()*100);\nmsg1.topic = \"line2\";\n\nreturn [msg , msg1];","outputs":2,"noerr":0,"x":350,"y":320,"wires":[["7ef0f93c.16f1f8","4d3d4983.6b7258","a937c65a.3f26c8","9c57f798.1d9728","e2f4271e.3eb548"],["4fed35f9.e7045c","7ef0f93c.16f1f8","99fca4da.137868","cc2aa50f.cd1728","4d3d4983.6b7258"]]},{"id":"7ef0f93c.16f1f8","type":"ui_chart","z":"2b34b520.acf53a","name":"","group":"e6a05ee9.02086","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":380,"wires":[[],[]]},{"id":"4d3d4983.6b7258","type":"debug","z":"2b34b520.acf53a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":320,"wires":[]},{"id":"a937c65a.3f26c8","type":"ui_gauge","z":"2b34b520.acf53a","name":"","group":"e6a05ee9.02086","order":2,"width":0,"height":0,"gtype":"gage","title":"units","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":260,"wires":[]},{"id":"9c57f798.1d9728","type":"ui_slider","z":"2b34b520.acf53a","name":"","label":"slider","group":"e6a05ee9.02086","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":550,"y":440,"wires":[[]]},{"id":"e2f4271e.3eb548","type":"ui_text","z":"2b34b520.acf53a","group":"e6a05ee9.02086","order":6,"width":0,"height":0,"name":"","label":"num1","format":"{{msg.payload}}","layout":"col-center","x":550,"y":560,"wires":[]},{"id":"4fed35f9.e7045c","type":"ui_text","z":"2b34b520.acf53a","group":"e6a05ee9.02086","order":7,"width":0,"height":0,"name":"","label":"num2","format":"{{msg.payload}}","layout":"col-center","x":550,"y":620,"wires":[]},{"id":"99fca4da.137868","type":"ui_gauge","z":"2b34b520.acf53a","name":"","group":"e6a05ee9.02086","order":3,"width":0,"height":0,"gtype":"gage","title":"units2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":200,"wires":[]},{"id":"cc2aa50f.cd1728","type":"ui_slider","z":"2b34b520.acf53a","name":"","label":"slider2","group":"e6a05ee9.02086","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":550,"y":500,"wires":[[]]},{"id":"e6a05ee9.02086","type":"ui_group","z":"","name":"new_group","tab":"ce47e576.231968","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce47e576.231968","type":"ui_tab","z":"","name":"home","icon":"dashboard","order":1}]